---
import Donate from './Donate.astro';

interface Props {
	title?: string;
  src:string;
  crowdfundingId: string;
}

const {title,src, crowdfundingId} = Astro.props;
---

        <div class="col">
          <div class="card h-80" >
        <img src={src} class="card-img-top" alt="...">
            <div class="card-body">
				<h5 class="card-title">{title}</h5>
				<slot />
            </div>
            <div class="card-footer">
                 <Donate crowdfundingId={crowdfundingId} />
                <!-- <a href="#" class="btn btn-success btn-lg d-flex justify-content-center">Donate 25$</a> -->
            </div>
          </div>

          <style>
          .card-img-top
            {height:280px};
          </style>
          <!-- <div id="connect-wrap" class="wrap" aria-live="polite">
            <div class="ellipsis">
              <button data-connect aria-controls="connect-wrap">Connect</button>
            </div>
          </div> -->

<style>
  .wrap {
    text-align: center;
  }

  .ellipsis {
    line-height: 2.7rem;
    margin: auto;
    max-width: 12rem;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    white-space: nowrap;
    
  }
</style>
