---
interface Props {
	title?: string;
  src:string;
}

const {title,src} = Astro.props;
---

        <div class="col">
          <div class="card h-80" >
        <img src={src} class="card-img-top" alt="...">
            <div class="card-body">
				<h5 class="card-title">{title}</h5>
				<slot />
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-success btn-lg d-flex justify-content-center">Donate</a>
            </div>
          </div>

          <style>
          .card-img-top
            {height:280px};
          </style>